{% extends 'base.html' %}
{% load widget_tweaks %}


{% block body_block%}
<div class="jumbotron center">
    <h1>Find Patron.</h1>
</div>


<!-- {% if user_errors %}

  {% for error in user_errors %}
    <span class="error_text">{{ error }}</span>
    <br>
  {% endfor%}
{% endif %} -->
<div class="search_form_div">
  <form method="post"> <!--multipart/form-data is important if you want to upload images -->
    {% csrf_token %}
    <div class="row signup_row">
      <div class="col-sm-4">
        {{ searchform.firstname|add_class:"form-control"|attr:"placeholder:First Name" }}
      </div>
      <div class="col-sm-4 sm_bottom_input">
        {{ searchform.lastname|add_class:"form-control"|attr:"placeholder:Last Name" }}
      </div>
      <div class="col-sm-4 sm_bottom_input">
        {{ searchform.cardnumber|add_class:"form-control"|attr:"placeholder:Card Number" }}
      </div>
    </div>

    <input class="btn btn-success" type="submit" name="" value="Search">
  </form>
</div><!--search_form_div -->

{%if searchresults%}
    <div class="searchresults_div">
      <table style="width: 100%" class = "search_table">
        <tbody>
          <tr>
            <td><strong>First Name</strong></td>
            <td><strong>Last  Name</strong></td>
            <td><strong>Card Number</strong></td>
            <td class="edit_search_col"><strong>View</strong></td>
          </tr>
          {% for patron in searchresults %}
          <tr>
            <td>{{ patron.first_name }}</td>
            <td>{{ patron.last_name }}</td>
            <td>{{ patron.library_card_number }}</td>

            <td class="edit_search_col"><a href="{% url 'patron_password_app:patron_view' patron.pk %}"><i class="fa fa-pencil" aria-hidden="true"></i></a></td>
          </tr>
          {% endfor %}
        </tbody>
      </table>
    </div><!--searchresults_div -->
{%endif%}

{% endblock %}
