/* ==============================*/
/*        DEVELOPMENT            */
/*===============================*/

.center{text-align: center;}
.left{text-align: left;}
.rightalign{text-align: right;}


.absolute{position: absolute;}
.empty{height: 350px;}
.fullheight{height: 100%;}
.short{height: 80px;}
.min_short{min-height: 100px;}
.short_mid{height: 200px;}
.medium{height: 300px;}
.min_medium{min-height: 200px;}
.dashed{border: 1px dashed black;}
.dashedwhite{border: 1px dashed white;}
.dashedred{border: 3px dashed red;}
.solid{border: 1px solid black;}
.solidred{border: 3px solid red;}
.raleway{font-family: Raleway; 	-webkit-font-smoothing: antialiased; text-rendering: optimizelegibility;}
.libre{font-family:'Libre Franklin', sans-serif; font-style: italic;}

.vertical_align{position: relative; top:50%; transform: translateY(-50%);}
.table_parent{display: table}
.table_child{display: table-cell; vertical-align: middle;}


/* ==============================*/
/*           GENERAL             */
/*===============================*/

#addpatron_button{width: 75px; height: 75px;
                  background-color: #5cb85c; color: white;
                  text-align: center;
                  border-radius: 100%;
                  font-size: 45px;
                  position: fixed;
                  bottom: 20px;
                  right: 35px;}

.delete_button{margin-right: 75px; margin-top: 15px;}
@media(max-width: 768px){
.delete_button{margin-right: 15px;}
}


.patron_nav{padding-left: 5px;}
@media(max-width: 768px){
.patron_nav{padding-left: 0px;}
}
.bigpushbutton{width: 150px; height: 50px; margin-bottom: 30px;}
/* ==============================*/
/*            BODY               */
/*===============================*/

.navbar{margin-bottom: 0;}
.signup_row{margin-bottom: 15px;}
@media(max-width:768px){
  .sm_bottom_input{margin-top: 15px;}
}
.error_text{color: red;}
.jumbotron{margin-top: 25px;}


/* ==============================*/
/*      Search Form Template     */
/*===============================*/
div.searchresults_div{margin-top: 15px; margin-bottom: 35px;}
table.search_table, table.search_table td{border: 2px solid #D3D3D3;}
table.search_table td{padding-left: 10px;}
td.edit_search_col{text-align: center;}



/* ==============================*/
/*      Patron View Template     */
/*===============================*/

/*div.patronview_patroninfo {background-color: #bdbdbd;}*/

.patron_view_accountinfo h2{font-size: 27px;}
.patronview_patroninfo, .patron_view_accountinfo{margin-left: 75px;}
.patron_view_accountinfo{margin-top: 25px;}
div.patronview_googleinfo{}
@media(max-width: 768px){
div.patronview_patroninfo, .patron_view_accountinfo{margin-left: 15px;}
}
/*.patronview_jumbo{padding-left: 20px!important; }*/

/* ==============================*/
/*      Patron Edit Template     */
/*===============================*/

.editpatron_section{margin-left: 75px; margin-right: 75px; margin-top: 15px;}
.updated{height: 50px; width: 100%; background-color: #5cb85c; color: black;}
/*.updated a{color: white;}*/
.patronedit_row h1,.patronedit_row h2,.patronedit_row h3,.patronedit_row h4{margin-top: 0; margin-bottom: 0;}
.patronedit_row{margin-bottom: 10px;}
@media(max-width: 768px){
  .editpatron_section{margin-left: 15px; margin-right: 15px;}
  .right_field{margin-top: 15px;}
}
